<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.log.mapper.FileOperationMapper">

    <select id="findInfoByCode" parameterType="java.lang.String" resultType="FileShareBean">
        SELECT code,username,fileName,realPath from share where shareWebsite = #{md5code}
    </select>
</mapper>

